<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Clippina</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/bootstrap-table/dist/bootstrap-table.min.css">
        <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- INICIO -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">Clippina</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  
                  
                  <form action="/spiders/schedule" method="post" class="navbar-form navbar-right">
                    <button class="form-control" type="submit">Últ. Atualiz. X min. atrás</button>
                  </form>
                </div>
              </div>
            </nav>
            
        <div class="container-fluid">              
              <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                  <ul id="spiders-menu" class="nav nav-sidebar">
                    <li class="">Por blog</li>
                    
                    {{#each availableSpiders}}
                      <li>
                        <a href="/spiders/{{this}}" class="ellipsis">
                          <i id="{{this}}_spinner" style="visibility:hidden" class="fa fa-spinner fa-spin"></i> {{humanize this}}
                        </a>
                      </li>
                    {{/each}}                                       
                  </ul>
                  
                  <ul class="list-group">
                      <li class=""><span>Por palavra <a href="/keyword/new" class="glyphicon glyphicon-plus"></a></span></li>
                      {{#each keywords}}
                        <li class="keyword list-group-item ellipsis">                                                   
                          <a href="/keywords/delete/{{encodeURIComponent this.keyword}}" class="glyphicon glyphicon-trash"></a>
                          <a title="{{this.keyword}}" href="/keywords/{{this.keyword}}">                                                            
                            {{this.keyword}}                                                        
                          </a>                          
                        </li>                        
                      {{/each}}                      
                    </ul>                  
                  </div>
                
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                  {{{ body }}}
                </div>
              </div>
            </div>
            
        <!-- FIM -->

        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/bootstrap-table/dist/bootstrap-table.min.js"></script>
        <script src="/bower_components/socket.io-client/socket.io.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
