<div>
{{{success}}}

<form action="/keyword/new" method="post">
  <div class="form-group">
    <label for="keyword">Palavra chave</label>
    <input autofocus="true" name="keyword" type="text" class="form-control" placeholder="ex.: bodytech">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>    
</div>