<div class="starter-template">
  
  <div id="name">
    <h1 id="titiulo">{filename}}</h1>  
  </div>
  
  
  <table data-toggle="table" data-pagination="true"
         data-search="true" data-url="scraped_data/{{filename}}">
      <thead>
          <tr>
              <th data-field="keyword">Palavra</th>
              <th data-field="url">URL</th>
              <th data-field="published_at" data-sortable="true">Publicação</th>
              <th data-field="excerpt">Trecho</th>
          </tr>
      </thead>
  </table>  
  
</div>