body{font: 62.5% verdana;
    padding: 0 !important;}
	
#barra1 {
    clear: both !important;
    display: block !important;
    height: 28px !important;
    margin: auto !important;
    text-align: center !important;
    width: 100% !important;
    z-index: 999 !important;
}

#barraPortal1 {
    background: url("http://folhape.com.br/menu_blogs/imagens/barra-topo-interna.jpg") repeat-x scroll center top #FFFFFF !important;
    display: block !important;
    height: 28px !important;
    position: relative !important;
    text-align: center !important;
    width: 100% !important;
    z-index: 999 !important;
}

#barraPortal1 .conteudobarra {
    display: block !important;
    margin: auto !important;
    text-align: left !important;
    width: 1015px !important;
}

#barraPortal1 h1 {
    display: block !important;
    float: left !important;
    height: 23px !important;
    margin: 3px 15px 0 14px !important;
    width: 113px !important;
}

ul.menubar1 {
    display: block !important;
    font-size: 100% !important;
    height: 27px !important;
    margin: 0 !important;
    padding: 0 !important;
}

ul.menubar1 .submenu1 {
    border-radius: 5px;
    float: left;
    height: 33px;
    list-style: none outside none !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    z-index: 10;
}

ul.menubar1 a {
    color: #777777;
    display: block;
    padding: 5px 5px 10px;
    text-decoration: none;
}


/**/

/*BARRA PORTAL INICIO*/

body { font: normal 62.5% verdana; padding:0 !important; }

/* -- Barra Menu -- */
#barra1{
	display:block !important;
	/*position:absolute;*/
	z-index:999 !important;
	height:28px !important;
	width:100% !important;
	text-align:center !important;
	margin:auto !important;
	clear:both !important;
	/*margin-top:-59px;
	*position:relative;
	*margin:-60 0 0px 0;*/
}
#barraPortal1{
	display:block !important;
	position:relative !important;
	z-index:999 !important;
	height:28px !important;
	text-align:center !important;
	background:#fff url(http://folhape.com.br/menu_blogs/imagens/barra-topo-interna.jpg) 

repeat-x center top !important;
	width:100% !important;
	text-align:center !important;
}
#barraPortal1 .conteudobarra{
	margin:auto !important;
	width:1015px !important;
	*width:1045px !important;
	display:block !important;	
	text-align:left !important;
}
#barraPortal1 h1{
	display:block !important;
	float:left !important;
	width:113px !important;
	height:23px !important;
	margin:3px /*26px*/15px 0 14px !important;
}
#barraPortal1 .menuPortal{
	height:27px!important;
	display:block!important;
}
#barraPortal1 .menuPortal li{
	display:block!important;
	float:left!important;
	/*background: url(http://folhape.com.br/menu_blogs/imagens/separador-barraFolhaPE.png) 

no-repeat left top;*/
	padding: 7px 12px!important;
}
#barraPortal1 .menuPortal li a h2{
	font-size:10.5px!important;
	font-family: Arial, Helvetica, sans-serif!important;
	text-transform: uppercase!important;
	text-shadow: 1px 1px 1px #FFFFFF!important;
	color: #464646!important;
	text-decoration: none!important;
}
#barraPortal1 .menuPortal li a:hover{
	text-shadow: none!important;
}
/* -- Fim Barra -- */


ul.menubar1{
  margin: 0px!important;
  padding: 0px!important;
  font-size: 100%!important;
  *margin:0 0 0 15px !important;
  height:27px!important;
  display:block!important;
}
 
ul.menubar1 .submenu1{  
  margin: 0px!important;
  *margin-left:2px !important;
  padding: 0px!important;
  list-style: none!important;
  float:left;  
  padding: 0px 3px 0px 5px;
  *padding: 0px 0px 0px 5px !important;
  height:33px;
  position:relative;
  z-index:10;
  
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; /*Para Safari e Chrome */
  border-radius: 5px; /* Para Opera 10.5+*/
}
 
ul.menubar1 ul.menu1{
  display: none;
  position: absolute;
  margin: 0px;
  margin-left:-6px;
  *margin-left:-60px !important;  
  z-index:9;
  *float:left !important;
  *clear:both !important;
  *margin-left:-55px !important;
}
 
ul.menubar1 a{
  padding: 5px;
  display:block;
  text-decoration: none;
  color: #777;
  padding: 5px 5px 10px 5px;
}
ul.menubar1 a h2{ 
  font-size:13px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #FFFFFF;
  color: #464646;
  text-decoration: none;
  font-weight:normal;
  float:left;
  *cursor:pointer !important;
} 
ul.menu1, ul.menu1 ul{
  margin: 0;
  padding: 0;
  width: 400px;
}
 
ul.menu1 li{
  position: relative;
  list-style: none;
  border: 0px;
  float:left;
}
 
ul.menu1 li a{
  display: block;
  text-decoration: none;
  border: 1px solid #ccc;
  border-bottom: 0px;
  color: #777;
  padding: 5px 10px 5px 5px;
}
 
ul.menu1 li sup{
  font-weight:bold;
  font-size:7px;
  color: red;
}
 
/* Fix IE. Hide from IE Mac \*/
* html ul.menu li { float: left; height: 1%; }
* html ul.menu li a { height: 1%; }
/* End */
 
ul.menu1 ul{
  position: absolute;
  display: none;
  left: 149px; /* Set 1px less than menu width */

  top: 0px;
}
 
ul.menu1 li.submenu1 ul { display: none; } /* Hide sub-menus initially */
 
ul.menu1 li.submenu1 { background: transparent url(arrow.gif) right center no-repeat; }
 
ul.menu1 li a:hover { color: #f9f9f9; }


.linkRadioFolha{
	font-size:11px !important;
	border-left:1px dotted #999;	
	padding-left:8px;
}
.linkRadioFolha1{
	font-size:11px !important;	
}


/*BARRA PORTAL FIM*/

/*Estilo da Hora*/

.horaBlogs{
	display:block;
}
.horaBlogs small{
	font-size:12px;
}

*{margin:0px; padding:0px;}