<div class="starter-template">
  
  <div id="name">
    <h1 id="titiulo">{{spider_name}}</h1>  
  </div>
  
  <table data-toggle="table" 
         data-pagination="true" 
         data-show-toggle="true" 
         data-page-size="50"          
         data-search="true" data-url="{{filename}}">
      <thead>
          <tr>
              <th data-field="keyword">Palavra</th>
              <th data-field="url" data-sortable="true">URL</th>
              <th data-field="published_at" data-sortable="true" order="desc">Publicação</th>
              <th data-field="excerpt">Trecho</th>
              <th data-field="screenshot_low" data-formatter="wrapImage">Print</th>
          </tr>
      </thead>
  </table>  
  
</div>