/* OBS: Não criar novas classes neste documento, ele é destinado apenas a customização de cores dos blogs */

/* Imagem principal do blog*/
.header{background-image: url(../img/header-blog.jpg);}

/* Cor em rgba com transparência do menu principal */
#menu-principal {background-color: rgba(21, 18, 15, 0.8); border-top: 1px solid #F45FA1;}

/* Cor em rgba com transparência do nome do blogueiro */
.label-blogueiro {background-color: rgba(237, 50, 139, 0.8);}

/*Cores da BOX destaque, da front-page*/
.box-destaque-fixo h1 a{color: #ED328B;}
.box-destaque-fixo h1, .box-destaque-fixo h2, .box-destaque-fixo h4{color: #ED328B;}
.data-post-vertical{background-color: #ED328B;}
.titulo-destaque{background-color: #ED328B;}

.cor-blog{color: #ED328B!important;}
.botao-ver-mais{background-color: #ED328B;}
.data-post{background-color: rgba(237, 50, 139, 0.8);}
.fa-quote-left{color:#ED328B;}
.titulo-lista-noticias{color: #ED328B;}
.titulo-secao{color: #ED328B;}
.titulo-secao-old{color: #ED328B;}
.item-lista-noticias a h4{color: #ED328B;}



/* Paginação */
.pagination > li > a, .pagination > li > span {color: #ED328B;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {background-color: #ED328B;
                                                                                                                                                                                                   border-color: #ED328B;}
.mais-lidas li span{color: #ED328B;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background-color: #ED328B;}
.footer-top{background-color: #262626;}
#menu-principal .social-share-item i, footer .social-share-item i, .left-menu .social-share-item i, .infos .social-share-item i {color: #262626; transform: skewX(12deg);}
.social-share-item{transform: skewX(-12deg);}

.box-interna p a, .box-interna p em, .box-interna p strong, .box-interna p b{font-weight: bold;}
.box-interna p a{color: #ED328B;}
.box-interna figcaption {padding: 15px;}