/* Developer by Fábio Monteiro - angar14@gmail.com */

/******************* Estilos Básicos ***********************/
body{
    overflow-x:hidden;
    font-family: 'Lato', sans-serif;
    background: #EDEDED;
}

.first{border-top: 0;}
.last{border-bottom: 0;}

.cor-blog{
    color: #589219!important;
}

a{color:#333;}
a:hover, a:active, a:visited{text-decoration: none; color: inherit;}
a.invert, header a, .logo a{
    color: #fff;
}

h1.logo{
    color: #fff!important;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

p{
    font-size: 1.2em;
}

ul, ol{
    list-style:none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 300;
    font-style: normal;
    font-family: 'Open Sans Condensed', sans-serif;
    font-smooth:always;
    -webkit-font-smoothing:antialiased;
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong{
    font-weight: 800;
    font-style: normal;
    font-family: "Open Sans";
    letter-spacing: -2px;
}

.warning{
    color: #ea3525;
}


/************************ Header ***************************/
.header{
    background-image: url(../img/header-blog.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 204px;
}

.header-line{
    padding-top: 20px;
}

/* logo */

.logo{
    font-size: 4em;
    letter-spacing: -3px;
    text-shadow:2px 2px 4px #000000;
    margin-top: 0;
}

.logo:hover{
    color: #fff;
}


.pattern-overlay {
    background: url(../img/pattern.png) repeat;
    height: 254px;
    width: 100%;
    position: absolute;
}

.banner-assine{
    float: right;
}

/* Menu principal */
#menu-principal{
    background-color: rgba(88, 146, 25, 0.75);
    margin-top: -72px;
    margin-bottom: 10px;
}

.nav li a{
    color: #fff;
}


.navbar {
    margin-bottom: 0;
    border: 0;
}

.lista-canais{
    overflow: auto;
    height: 220px;
}

.lista-canais li a, .lista-ultimas-blogs li a{
    color: #333;
}

.navbar-nav > li:first-child > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav > li > a{
    padding-top: 30px;
    padding-bottom: 15px;
}

.navbar .search{
    display: inline-block;
    padding: 15px 0 0;
    padding-left: 0;
}

.navbar .search-buttom{
    padding: 11px 0;
    width: 42px;
    text-align: center;
    border-radius: 10px;
    vertical-align: top;
}

.navbar .search .inputtexto{
    height: 44px;
    padding: 0 10px;
    width: 0px;
    font-size: 1.3em;
    display: inline-block;
    position: absolute;
    right: 0;
    border-radius: 5px;
    display: none;

}


.flex-center-wrapper {
    display: flex;
    display: -webkit-flex;
    align-content: left;
    align-items: left;
    -webkit-align-content: left;
    -webkit-align-items: left;
    justify-content: left;
    -webkit-justify-content: left;
    text-align: left;
}

.flex-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.slider-toggle {
    display: block;
    margin: 10px 15px 10px 15px;
    color: white;
    font-size: 18px;
    border: none;
    letter-spacing: 1px;
    font-family: Lato;
    width: 50px;
    height: 20px;
    border-radius: 100px;
    text-align: center;
    background-color: rgb(43, 57, 69);
    transition: background-color 0.5s;
}

.buttons-container span {
    color: white;
    font-family: Lato;
    font-size: 18px;
    letter-spacing: 1.2px;
}

.selected {
    background-color: rgb(18, 209, 234);
}

.sliding-menu {
    background-color: rgb(40, 38, 38);
    visibility: hidden;
    position: fixed;
    overflow: hidden;
}

.container-menu-left{padding: 0 20px;}

#menu-social1 a, #menu-social1 p {
    font-family: Lato;
    font-weight: 100;
    font-size: 18px;
    color: rgb(200, 200, 200);
    text-decoration: none;
    margin: 0 20px 0 0;
	text-transform: uppercase;
}

#menu-social1 a:hover{color:#C02F79!important;}

.sliding-menu ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

#menu-social1{
    position: relative;
    margin: 20px 0 20px;
    clear: both;
    display: block;
}
#menu-social1 li {    
    margin: 10px 0 0 0;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

/*#menu-social1 .social-item{width: }*/

.sliding-menu hr {
    width: 50%;
    min-width: 100px;
    border-color: rgb(18, 209, 234);
}

.exit {
    position: absolute;
    font-size: 1.3em;
    color: white;
    cursor: pointer;
    left: 20px;
    top: 20px;
}

.fa-times{color:#C02F79; font-size: 1.3em;}

.form-group-lg .form-control { border-radius: 0;}

.buttons-container {
    max-width: 700px;
    margin: 0 auto 0 auto;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.form-busca{position: relative; display: block; margin-top: 70px; width: auto; max-width: 100%;}
.form-horizontal .form-group {margin:0;}
.btn-info {    color: #333;
    background-color: #ED328B;
    border-color: #ED328B;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    color: #333;
    background-color: #ED328B;
    border-color: #ED328B;
}
.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    color: #333;
    background-color: #ED328B
    border-color: #ED328B;
}

.note {
    position: absolute;
    width: 250px;
}

.left-menu, .right-menu {width: 300px; visibility: hidden;}
.top-menu {height: 100%;}
.bottom-menu {height:100px;}

.rotate {
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.display-off {
    display: none;
}

#nav-icon2{float: left; padding:10px; color: #fff; font-size: 2.4em; position: relative; z-index: 9999; cursor: pointer;}

.active-menu-item{color: #ED328B!important;}

/************************** Main Content ***************************/

.main{
    margin: 20px auto;
}


/* Article */

article .container-chapeu{position: relative; margin: 10px auto; }
article .chapeu{position:relative; display: inline-block; padding: 5px 10px; background-color:#ED328B; transform: skewX(-12deg); margin-bottom: 10px;}
article .chapeu span{transform: skewX(12deg); position: relative; display: inline-block; color: #fff; font-family: 'Open Sans Condensed', sans-serif; font-size: 1.3em;}
.box-noticias header .infos{margin: 20px; text-align: center;}

.box-noticias header img{    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;}

.box-noticias {
    margin-bottom: 30px;
    border: 1px solid #e7e7e7;
    position: relative;
    background: #fff;
}



.box-noticias h1{
    letter-spacing: -2px;
    margin-top: 0;
}

.box-noticias a{color: #686868;}
.box-noticias a:hover{color: #ED328B;}


.box-noticias h1, .box-noticias h2, .box-noticias h4{
    color: #686868;
}


.box-noticias figure{
    clear: both;
    display: block;
}

.box-noticias figcaption{
    padding: 15px 0;
    border-bottom: 1px solid #e7e7e7;
    font-style: italic;
    margin-bottom: 20px;
    display: block;
    clear: both;
    width: 100%;
}

.box-noticias .texto{
    margin: 20px 0;
}

.content-noticia{margin: 20px;}

.box-interna .infos{text-align: left!important}

.box-interna figcaption{
    border-bottom: 1px solid #C6C6C6;
    margin-bottom: 10px;
    background: #C6C6C6;
}

.box-interna p{
    font-size: 16px;
}

.box-interna p em{font-weight: bold;}

.box-interna .data-publicacao{
    font-size: 14px;
    font-weight: normal;
}

.box-interna .titulo-box-widgets{font-size: 14px!important; padding: 12px!important;}   

.botao-ver-mais{
    background-color: #589219;
    color: #fff!important;
    padding: 10px 15px;
    text-transform: uppercase;
    display: inline-block;
}

.data-post {position: absolute; top: 20px; right: 20px; background-color: #ED328B; color: #fff; padding: 5px 15px; text-align: center; transform: skewX(-12deg);}
.data-extenso{font-size: 1.7em; text-transform: uppercase; font-weight: 300; display: block;}
.data-extenso span{display: inline-block; font-family: 'Open Sans Condensed', sans-serif; transform: skewX(12deg);}
.data-noticia{margin-bottom: 0;}

blockquote {
    background: #f9f9f9;
    border-left: 0;
    margin: 20px 0 20px;
}

blockquote p{
    font-style: italic;
}

.fa-quote-left{
    font-size: 5em!important;
    color:#589219;
    float: left;
    margin-right: 20px;
}
.embed-audio{
    margin-bottom: 20px;
    display: block;
}

/* Box destaque */
.destaque-blog-container{
    margin-top: 20px;
    background: #e7e7e7;
    /* Inserir no colors.css */
    /*border-bottom: 1px solid #D45729;*/
}
.titulo-destaque{
    color: #fff;
    position: absolute;
    margin: 13px 0  0 35px;
    padding: 3px 5px;
    font-size: 0.9em;
    text-transform: uppercase;
}


.box-destaque-fixo header{
    margin-left: 0!important;
}

.box-destaque-fixo {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
}

.box-destaque-fixo h1{
    font-weight: 700;
    letter-spacing: -2px;
    margin-top: 0;	
    color: #D45729;
}

.box-destaque-fixo h1 a{
    color: #D45729;
}

.box-destaque-fixo p{
    margin: 0;
}

.box-destaque-fixo a{
    color: #686868;
}

.box-destaque-fixo h1, .box-destaque-fixo h2, .box-destaque-fixo h4{
    color: #D45729;
}

.box-destaque-fixo header{
    margin-left: 0;
}

.box-destaque-fixo figure{
    clear: both;
    display: block;
}

.box-destaque-fixo figcaption{
    padding: 15px 0;
    border-bottom: 1px solid #e7e7e7;
    font-style: italic;
    margin-bottom: 20px;
    display: block;
    clear: both;
    width: 100%;
}

.box-destaque-fixo  .fa-facebook{
    background-color: #214285;
    color: #fff;
}	

.box-destaque-fixo .fa-twitter{
    background-color: #2BA8E0;
    color: #fff;
}	

.box-destaque-fixo .fa-google-plus{
    background-color: #D64832;
    color: #fff;
}	

.box-destaque-fixo .fa-linkedin{
    background-color: #03679B;
    color: #fff;
}	

.box-destaque-fixo .fa-envelope-o{
    background-color: #686868;
    color: #fff;
}


/* Resultado de busca */

.titulo-lista-noticias{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 800;
    font-size: 1.6em;
    color: #589219;
    letter-spacing: -1px;
}

.titulo-secao{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 800;
    font-size: 3em;
    color: #589219;
    letter-spacing: -2px;
}

.subtitulo-secao{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 30px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
}


.titulo-secao-old{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 800;
    font-size: 3em;
    color: #589219;
    letter-spacing: -2px;
}

.subtitulo-secao-old{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 30px;
    border-bottom: 0;
}

.item-lista-noticias{
    clear: both;
    padding-bottom: 20px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
}

.item-lista-noticias img{
    width: 30%;
    margin-right: 4%;
    float: left;
}

.item-lista-noticias:last-child{
    border-bottom: 0;
}

.item-lista-noticias a h4{
    color: #589219;
    margin-top: 0;
}

.thumb-noticias{
    width: 30%;
    float: left;
    margin-right: 4%;
}

.info-noticias{
    display: inline-block;
    width: 65%;
}
/* Paginação */

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #589219;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #589219;
    border-color: #589219;
}


.pagenavi-item {transform: skewX(-12deg); background-color: #ED328B; display: inline-block; padding:10px 15px; float: left; margin-right: 7px;}
.pagenavi-item a{color:#fff; transform: skewX(12deg); display:inline-block; background: none;}
.wp-pagenavi .item-active{position: relative; display: inline-block; padding: 10px 15px; background-color: #262626; transform: skewX(-12deg); margin-right: 10px; -webkit-box-shadow: 5px 5px 0px 0px rgba(237, 50, 139, 1); -moz-box-shadow: 5px 5px 0px 0px rgba(237, 50, 139, 1); box-shadow: 5px 5px 0px 0px rgba(237, 50, 139,1); margin-bottom: 20px;}
.item-active span.current{color: #ED328B; transform: skewX(12deg); display: inline-block;}
.wp-pagenavi a, .wp-pagenavi span {
    border: none!important;
}

/* Formuláriod e contato */
label {
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

textarea.form-control {
    height: auto;
    min-height: 150px;
}

/* Comentários */
.comment-author small, .comment-author em{
    font-size: .9em;
    margin: 5px 0;
}

.comment-meta, ol.commentlist li small {
    top: 0!important; 
    left: 0!important; 
}


/************************** Sidebar ***************************/

.box-widget{position: relative; display: block; clear:both; margin-bottom: 20px;}
.titulo-box-widgets{position: relative; display: inline-block; padding: 5px 10px; background-color: #262626; transform: skewX(-12deg); margin-bottom: 10px; -webkit-box-shadow: 5px 5px 0px 0px rgba(237, 50, 139, 1); -moz-box-shadow: 5px 5px 0px 0px rgba(237, 50, 139, 1); box-shadow: 5px 5px 0px 0px rgba(237, 50, 139,1); margin-bottom: 20px;}
.titulo-box-widgets span{font-family: 'Open Sans Condensed', sans-serif; display: inline-block; transform: skewX(12deg)!important; color: #ED328B; font-size: 2em;}
.item-colaboradores{float: left; margin-right: 6px; width: 23%;}

.label-blogueiro{background-color: rgba(237, 50, 139, 0.8); position: absolute; bottom: 20px; right:15px; padding: 10px 20px;  font-weight: 300; font-size: 2.1em; transform: skewX(-12deg);}
.label-blogueiro span, .label-blogueiro a{color: #fff; transform: skewX(12deg)!important; display: inline-block; letter-spacing: -1px; font-family: 'Open Sans Condensed', sans-serif;}

.label-titularidade{background-color: rgba(21, 18, 15, 0.8); position: absolute; bottom: 70px; right:15px; padding: 5px 10px;  font-weight: 300; font-size: 1.3em; transform: skewX(-12deg); z-index: 10;}
.label-titularidade span{color: #fff; transform: skewX(12deg)!important; display: inline-block; letter-spacing: 0; font-family: 'Open Sans Condensed', sans-serif;}




/* Box mais lidas */

.mais-lidas li{
    display: block;
    list-style: none;
    min-height: 55px;
    border-bottom: 1px dotted #d9d9d9;
    overflow: hidden;
}

.mais-lidas li:last-child{
    border-bottom: 0!important;
}

.mais-lidas li p{
    padding-left: 52px;
    font-size: 1em;
    margin: 15px 5px;
    line-height: 18px;
}

.mais-lidas li p:hover{color:#ED328B; text-decoration: underline;}

.mais-lidas li span{
    font-size: 2.5em;
    width: 40px;
    line-height: 43px;
    float: left;
    color: #589219;
    font-weight: 800;
    text-align: center;
    -webkit-margin-before: .3em;
    margin-before: .3em;
    -webkit-margin-after: .3em;
    margin-after: .3em;
}


.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    width: 50%;
    text-align: center;
}

.nav-tabs > li > a{
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #262626;
    color: #fff;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 100;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color: #589219;
    color: #fff;

}

/* facebook likebox*/

.fb-page{
    width: 100%!important;
}

/* Publicidade */

.publicidade{
    margin-top: 30px;	
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #E7E7E7;
}

.publicidade-label{
    font-size: .7em;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
}

.publicidade img{
    border: 1px solid #e7e7e7;
}


.content-banner-principal .publicidade-label{
    left: 0;
}





/************************** Footer ***************************/

footer{
    margin-top: 60px;
}
footer section{position: relative; display: block;}

footer .userFeed{margin-top: 30px;}

#footer-label{    
    display: table;
    margin: 0 auto;
    transform: skewX(-12deg);
    background-color: rgba(237, 50, 139, 0.8);
    padding: 10px 20px;
    margin-top: -50px;
}

#footer-label span{color: #fff; transform: skewX(12deg)!important; display: inline-block;}

.footer-top{
    background-color: #262626;
    color: #fff;
    padding: 20px 0 40px;
}

.footer-bottom{
    background: #fff;
    padding: 10px 0;
}

footer .titulo-secao {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 2.3em;
    color: #589219;
    letter-spacing: -2px;
    color: #ededed;
    text-align: center;
}

footer .invert-title{color:#ED328B;}

.titulo-footer{
    font-size: 3em;
    margin-top: 10px;
    float:right;
}

footer .thumb-instagram{float: left; margin: 0; padding: 0;}
footer a.expediente{transform: skewX(-12deg); background-color: rgba(237, 50, 139, 0.8); display: inline-block; padding: 7px; margin-left: 20px;}
footer a.expediente span{color: #fff; transform: skewX(12deg); display: inline-block;}

.empresas-grupo li{
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
    vertical-align: middle;
    color: #333;

}

.empresas-grupo li a{ color: #333; } 

.ne10-logo{width: 150px;} 

.creditos{margin-top: 5px; vertical-align: baseline;}

.list-divider{
    border-right: 1px solid #333;
    padding: 0 10px 0 0; 

}



/******************** Social icons *************************/

.social-share-group{
    display: inline-block;
    padding:10px;
    padding-left: 0;
    padding-right: 0px;
}
.social-share-item{
    display: inline-block;
    margin-right: 10px;
    margin-right: 5px;
}

.social-share-item .botao-redes{
    padding: 14px;
    width: 44px;
    height: 47px;
    text-align: center;
    transition: background-color 0.5s ease;
    background: #ED328B;
    color: #262626;
    display: inline-block;
}

.box-interna .botao-redes .fa{
    transform: skewX(12deg);
}

.veja-mais-titulo{
    font-style: normal;
    font-family: 'Open Sans Condensed', sans-serif;
    font-smooth: always;
}

.veja-mais-data{
    font-family: 'Open Sans Condensed', sans-serif;
}



.social-share-item .botao-facebook:hover, .social-share-item .botao-twitter:hover, .social-share-item .botao-gplus:hover, .social-share-item .botao-linkedin:hover, .social-share-item .botao-envelope-o:hover, .social-share-item .botao-instagram:hover, .social-share-item .botao-youtube:hover{background-color: #fff; color:#ED328B ;}	

.titulo-redes-sociais{color:#ED328B;}


/* Media queries Ipad e outros tablets */

@media (min-width: 999px) and (max-width: 1024px){
    .label-blogueiro {
        font-weight: 300;
        font-size: 1.6em;
    }
    .empresas-grupo li.brand {width: 90px;}
}

@media (min-width: 1680px){
    .header{
        background-size: cover;
    }
}

@media (max-width: 998px) {
    .label-blogueiro {
        font-weight: 300;
        font-size: 1.3em;
    }
    .empresas-grupo li{font-size: .8em}
    .empresas-grupo li.brand {width: 90px;}
    .publicidade-label {left: 0;}
}


/* vitrine de ofertas*/
.oferta .descricao .detalhes a {font-weight: 400;text-decoration: none;}
.oferta .descricao .detalhes a:hover {text-decoration: none;}
#vitrine-comercial{ margin:0 0 0 0; }
#vitrine-comercial .oferta{  margin-bottom: 25px;  float:left; min-height:150px; text-align:left!important; padding: 0; width: 50%; }
/*#vitrine-comercial .oferta:nth-of-type(2n+1) {
    clear: left;
}*/

#vitrine-comercial .oferta .vitrine-foto{ height: 88px; float:none; width:auto; text-align:left; }
#vitrine-comercial .oferta .vitrine-foto img{ float:none; border:1px solid #eaeaea;}
#vitrine-comercial .oferta a{ color:#333; display:block!important; padding:4px!important; }
#vitrine-comercial .oferta a:hover{ color:#333; }
#vitrine-comercial .oferta .descricao{ color: #666666; float: left; font-size: 15px; line-height: 20px; width: 100%; padding: 5px; margin-top: 5px; text-indent:0!important; }
#vitrine-comercial .oferta .descricao .titulo{ text-align:left; padding: 0 0 5px 0; border-bottom: 1px solid #eaeaea; width:100%; display:block; font-weight: bold; }
#vitrine-comercial .oferta .descricao .detalhes{ width: 100%; display:block;  margin-top: 8px; text-align:left!important; text-indent:0!important; }
#vitrine-comercial .oferta .descricao .detalhes a{ margin:0 0 0 13px!important; text-align:left!important; text-indent:0!important; display:block; }

/* galeria */
.galeria-container{ position:relative; overflow:hidden; }
.galeria-container .container-itens{ width:80000em; }
.galeria-container .galeria-thumbs{ position:absolute; left:0; top:0; display:none; }
.galeria-container .galeria-thumbs li { display:inline-block; border:1px solid #ddd; background:#fff; height:60px; width:60px; }
.galeria-container .item-galeria{ float:left; position:relative;}
.galeria-container .item-galeria img{ width:100%; }
.galeriaExpandida{ /* background: rgba(0, 0, 0, 0.8); */ }
.galeria-container .captions{ background:rgba(0, 0, 0, 0.4); color:#fff; position:absolute; bottom:0; padding:12px 12px 12px 80px; }
.galeria-container .icon-full-size{ display:none; }
.galeria-container .contador{ position:absolute; bottom:0; z-index:1; left:20px; }
.galeria-container .contador .imgAtual{ width:40px; border-bottom:1px solid #fff; color:#fff; text-align:center; display:block; font-size:23px; font-weight:800; font-family:'Open Sans'; }
.galeria-container .contador .imgTotal{ width:40px; text-align:center; display:block; color:#fff; font-size:23px; font-weight:800; font-family:'Open Sans'; }

.galeria-container .captions.expandida {
    display: block;
    bottom: 0;
    height: 100px;
    margin-top: -100px;
    background: rgba(0, 0, 0, 0.63);
    width: 100%;
    color: #fff;
    padding: 10px;
    z-index: 1000;
    position: relative;
    font-size: 1.5em;
}

.galeria-passador{ 
    padding:0; 
    margin:0; 
    width:100%; 
    display:block; 
    height:100px; 
    position:absolute; 
    top:30%;
    z-index:1;
}
.galeria-passador .proximo ,
.galeria-passador .anterior{
    width:40%;
    font-size:4em;
    opacity:0.3;
}

.galeria-passador .anterior{ float:left; margin:0 0 0 20px; cursor:pointer; }
.galeria-passador .proximo{ float:right; margin:0 20px 0 0; cursor:pointer;}

.galeria-passador .anterior:hover{ opacity:1 }
.galeria-passador .proximo:hover{ opacity:1 }



.galeria-passador .anterior i{ float:left; color:#fff; }
.galeria-passador .proximo i{ float:right!important; color:#fff;}


.embed-instagram{
    padding: 30px 0;
    width: 100%;
    background-color: #E7E7E7;
}
.embed-instagram iframe{
    margin: 0 auto;
}

/* BOX DE LEIA MAIS */

#leia-mais{
    list-style: none;
    padding: 0;
    margin: 0;
    clear: left;
}

.leia-mais-item{
    width: 32%;
    margin-right: 1%;
    padding: 0;
    float: left;
}

.leia-mais-item:nth-child(3n+1) {
    clear:left;
}

@media (max-width: 768px) {
    .leia-mais-item{
        width: 46%;
        margin-right: 4%;
        padding: 0;
        float: left;
    }
    .leia-mais-item:nth-child(even){
        margin-right: 0px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .leia-mais-item{
        width: 48%;
        margin-right: 1%;
        padding: 0;
        float: left;
    }
    .leia-mais-item:last-child{
        margin-right: 0px;
    }
    .leia-mais-item:nth-of-type(odd){
        display: list-item;
        text-align: -webkit-match-parent;
        clear: left;
    }
}



.leia-mais-item:last-child{
    margin-right: 0px;
}

.veja-mais-data{
    font-weight: 500;
    font-size: 1.1em!important;
    padding: 0;
    margin: 5px 0 0 0;
}

.veja-mais-titulo a{
    color: #222;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.veja-mais-texto{
    color: #444;
    font-weight: 500;
    margin: 10px 0;
    padding: 0;
}
.separador{
    margin: 5px;
    padding: 0;
}



.content-banner-principal{
    width: 100%;
    position: relative;
    margin-top: 30px;
}

.content-banner-principal .container{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;

}

.banners{
    float: left;       
}
.banner-full{
    margin-right: 20px;
    width:728px;
}

.label-publicidade-full{
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: .7em;
    color: #252525;
    text-transform: uppercase;
    text-align: left;
}

.banner-premium{
    width: 180px;
}


/* Galeria de fotos sidebar*/
/* Galeria de fotos */
.carousel-caption{
    background-color:#262626;
    color:#FFF;
	left: 5%;
}
.carousel-control .proximo,
.carousel-control .anterior { 
    background:#ED328B; 
}

.box-widget .carousel-caption{background: #262626;color:#ededed; }
.box-widget .item img {background: #262626;color:#ededed; display: inline-block;}
.carousel-caption h3{margin-top: 0; margin-bottom: 0;}

ol.carousel-indicators{bottom: -45px; }
.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #262626;
    border-radius: 10px;
    border: none;
}
.carousel-indicators .active {
    width: 16px;
    height: 16px;
    margin: 0;
    background-color: #ED328B;
}


.carousel-control{ width:50px; }
.carousel-control img{ width:80%; margin:0 10%; }
.carousel-control .proximo,
.carousel-control .anterior
{padding:10px 0; position:absolute; top:35%; width: 50px; } 

.box-widget .carousel-caption{background: #262626;color:#ededed; }

@media (max-width: 767px) { 
    .carousel-caption{position:static; top:0; left:0; margin:0;} 
    .carousel-caption h3{position:absolute; float:none; right: 0; left: auto; top: 0; margin: 0;}
}

@media (min-width: 768px) and (max-width: 992px) { 

        .header{height: 180px;}
        .container { padding-right: 0;  padding-left: 0;}
        #content-home{padding-left: 0!important; padding-right: 0!important;}
        .publicidade-label {left: 20px;}
        .content-colaboradores form{max-width: 95%;}
        .titulo-box-widgets{padding: 12px;}
        .titulo-box-widgets span{font-size: 1.6em;}
        .btn-info {right: -40px;}
}

/* Galeria Home */

.jk-slider{padding-right: 15px; padding-left: 15px; }
.slider-principal{margin-top: 30px; margin-bottom: 60px;}
#carousel-home .slide-destaque{width: 66.7%; margin-right: 1.6%; float: left; position: relative;} 
#carousel-home .slide-destaque .skew-titulo{font-size: 2.2em; right: 20px}
#carousel-home .slide-destaque .skew-chapeu{bottom: 50px;}
#carousel-home .col-slide{width: 31.7%; margin:0; float: left;}
#carousel-home .slide-child{width: 100%; display: block; margin-bottom:20px; position: relative;}
#carousel-home .slide-child {}
#carousel-home .slide-child:last-child{margin-bottom:0!important;}
#carousel-home .carousel-caption{background: none; position: absolute; top: 0; right: 0;}
.skew-titulo{background-color: rgba(237, 50, 139, 0.8); position: absolute; bottom: 0; padding: 10px; font-weight: 300; font-size: 1.7em; transform: skewX(-12deg);}
.skew-titulo span{color: #fff; transform: skewX(12deg)!important; display: inline-block; letter-spacing: -1px; font-family: 'Open Sans Condensed', sans-serif;}
.skew-chapeu{background-color: rgba(21, 18, 15, 0.8); position: absolute; bottom: 70px; right: 15px; padding: 5px 10px; font-weight: 300; font-size: 1.3em; transform: skewX(-12deg); z-index: 10;}
.skew-chapeu span{color: #fff; transform: skewX(12deg)!important; display: inline-block; font-family: 'Open Sans Condensed', sans-serif;} 
#carousel-home .slide-child .skew-chapeu{top: 65px;}
#carousel-home .slide-child .skew-titulo{top: 80px; right: 20px; bottom: auto;}
#carousel-home .carousel-control.right {right: -70px; left: auto; background-image:none;}
#carousel-home .carousel-control.left {background-image:none; left: -70px; right: auto;}
#carousel-home .carousel-control.left .fa, #carousel-home .carousel-control.right .fa{color: #A5A4A4; font-size: 1.7em;}


/* Galeria de vídeos sidebar */

.box-videos-sidebar{background: #262626; color: #ededed; margin: 0; padding: 0;}
.box-videos-sidebar .item-videos-sidebar{float: left; margin: 10px 2.4%; padding: 0; display: inline-block; position: relative;}
.box-videos-sidebar .item-destaque{width: 100%; margin: 0; padding: 0; clear: both; display: block; float:none;}
.box-videos-sidebar .item-destaque h3{margin-left: 20px;}
.box-videos-sidebar .caption-video{margin-left: 0; margin-right:10px; color: #ededed;}
.box-videos-sidebar .caption-video:first-child{margin-left: 20px!important;}
.box-videos-sidebar .miniaturas{width: 45%;}
.box-videos-sidebar .container-miniaturas{margin-top: 0!important; padding: 0!important;}
.box-videos-sidebar .botao-play{position: absolute; left: 40%; top: 32%;}


/* Perfil */

.texto-perfil{margin: 20px;}
.box-topo{position: relative;}
.box-titular{position: absolute; right: 30px; bottom: 30px; width: 250px;}
.texto-perfil .skew-titulo{background-color: rgba(237, 50, 139, 0.8); position: relative; bottom: 0; padding: 10px; font-weight: 300; font-size: 1.7em; transform: skewX(-12deg); display: inline-block;}
.texto-perfil .skew-titulo span{color: #fff; transform: skewX(12deg)!important; display: inline-block; letter-spacing: -1px; font-family: 'Open Sans Condensed', sans-serif;}

#btnSearch { cursor: pointer; }
.content-noticia .wp-caption{ width: 100% !important;}

/*Vitrine comercial*/

#vitrine-comercial .oferta .descricao .detalhes {
    font-family: 'Open Sans Condensed', sans-serif; font-size: 1.5em;
}

/* banner expansivel */
#bannerExp{
	position: relative !important;	
	float: none !important;
	z-index: 9999;
	margin: 0 auto;
}